#navegacion {
    min-height: 60px;
    padding: 0;
}

#formularioLogin {
    width: 600px;
}

.nombreSala {
    background-color: grey;
    text-align: center;
    border-radius: 5px;
    color: white;
    width: 60%;
}

#menuChat{
    width: 80%;
}
#textoChat {
    height: 400px;
}

#usuarios {
    width: 15%;
    height: 400px;
}

#divInputTexto {
    width: 100%;
}


#chatText {
    overflow: scroll;
}

.textUser {
    width: 80%;
    display: block;
    padding-left: 40%;
    width: 100%;
}

.textOtro {
    width: 80%;
    display: block;
    padding-right: 40%;
    width: 100%;
}


.mensaje {
    background-color: rgb(184, 212, 184);
    border-radius: 5px;
}