extends ./layout

block content
    .container.mt-3.d-flex.justify-content-center
      #formularioLogin.card 
        .card-body 
          h1.card-title.text-center  Node chat
          form(action="/user/login", method="post") 
            .mb-3 
                label.form-label(for="Username") Username: 
                input.form-control(type="text", id="username", name="username", placeholder="user")
            .mb-3 
                label.form-label(for="password") Password:
                input.form-control(type="password", id="password", name="password", placeholder="*********")  
            .mb-3.d-flex.justify-content-between 
                a(href="/registrer").btn.btn-outline-secondary registrer
                input.btn.btn-primary(type="submit", value="login")           