extends ./layout

block content 
    .container.mt-3 
        .card 
            .card-body 
                h3.card-title.text-center selecciona la sala de chat 
                form(action="/chat/view", method="post", id="form").d-flex.flex-column
                    input(type="hidden", name="sala", id="sala", value="funciona")
                    - let salas = [1,2,3,4];
                    each sala in salas
                        .form-check.mt-3
                            input.form-check-input.check(type="radio", name="chat", id="chat", value="chat"+sala)
                            label.nombreSala(for="chat" + sala)= "chat" + sala                     
                    .mt-3 
                        input(type="submit", value="entrar a sala").btn.btn-primary 
    script(src="/js/listChat.js")  